{% extends 'mail.html.twig' %}

{% block content %}
    {{ 'mail.password_changed.greeting'|trans|raw }}<br />

    <p>{{ 'mail.password_changed.content'|trans|raw }}</p>
    <p>{{ 'mail.password_changed.footer'|trans|raw }}</p>

    <p>{{ 'mail.password_changed.thanks'|trans|raw }}</p>
{% endblock %}