<!-- side toggle start -->
<aside class="fix">
    <div class="side-info">
        <div class="side-info-content">
            <div class="offset-widget offset-header">
                <div class="offset-logo">
                    <a href="index.html">
                        <img src="{{ asset('assets-front/imgs/logo/logo-2.png') }}" class="normal-logo light-logo" alt="Site Logo">
                        <img src="{{ asset('assets-front/imgs/logo/logo-light.png') }}" class="dark-logo" alt="Site Logo">
                    </a>
                </div>
                <button id="side-info-close" class="side-info-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="mobile-menu d-xl-none fix"></div>
            <div class="offset-button">
                <a href="contact.html" class="rr-btn">
                        <span class="btn-wrap">
                            <span class="text-one">Let's Talk</span>
                            <span class="text-two">Let's Talk</span>
                        </span>
                </a>
            </div>
            <div class="offset-widget-box">
                <h2 class="title">Contact US</h2>
                <div class="contact-meta">
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                        <span class="text">3891 Ranchview Dr. Richardson</span>
                    </div>
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
                    </div>
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-phone"></i></span>
                        <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<div class="offcanvas-overlay"></div>
<!-- side toggle end -->
