<!-- side toggle start -->
<aside class="fix">
    <div class="side-info">
        <div class="side-info-content">
            <div class="offset-widget offset-header">
                <div class="offset-logo">
                    <a href="{{ path('app_homepage_index') }}">
                        <img src="{{ asset('assets-front/imgs/logo/vicap-logo-red.png') }}" class="normal-logo light-logo" alt="Site Logo">
                        <img src="{{ asset('assets-front/imgs/logo/vicap-logo-red.png') }}" class="dark-logo" alt="Site Logo">
                    </a>
                </div>
                <button id="side-info-close" class="side-info-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="mobile-menu d-xl-none fix"></div>
            <div class="offset-widget-box">
                <h2 class="title">Contact Us</h2>
                <div class="contact-meta">
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                        <span class="text">ViCAP Global AG, Lindenstrasse 4, CH-8600 Dübendorf</span>
                    </div>
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <span class="text"><a href="mailto:info@vicapsystems.eu">info@vicapsystems.eu</a></span>
                    </div>
                    <div class="contact-item">
                        <span class="icon"><i class="fa-solid fa-phone"></i></span>
                        <span class="text"><a href="tel:+41796802271">+41 79 680 22 71</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<div class="offcanvas-overlay"></div>
<!-- side toggle end -->
