{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Wir freuen uns auf Deine Kontaktaufnahme und sind in Zürich auch gerne persönlich für Dich da.">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="has-smooth" id="has_smooth"></div>
    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- page title area start  -->
                <section class="page-title-area">
                    <div class="container large">
                        <div class="page-title-area-inner section-spacing-top">
                            <div class="page-title-wrapper">
                                <h2 class="page-title fade-anim">Contact</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- page title area end  -->

                <!-- contact area start  -->
                <section class="contact-area-contact-page pb-130">
                    <div class="container large">
                        <div class="contact-area-contact-page-inner section-spacing-top">
                            <div class="section-header fade-anim">
                                <div class="section-title-wrapper">
                                    <div class="subtitle-wrapper">
                                        <span class="section-subtitle">Contact</span>
                                    </div>
                                    <div class="title-wrapper">
                                        <h2 class="section-title font-sequelsans-romanbody">Let’s drop us a line
                                            and get the project
                                            started.</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="section-content-wrapper fade-anim">
                                <div class="section-content">
                                    <div class="contact-mail">
                                        <p class="title">Get in touch</p>
                                        <p class="text">We’re excited to hear from you
                                            and let’s start something special
                                            together <br>
                                            <a href="mailto:info@websitemaster.ch">info@websitemaster.ch</a>
                                        </p>
                                    </div>
                                    <div class="contact-social">
                                        <p class="title">Follow</p>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/websitemaster.ch">Facebook</a>
                                            <a href="#">LinkedIn</a>
                                            <a href="#">Instagram</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-wrap">
                                    <form id="contact__form" method="POST" action="./mail.php">
                                        <div class="contact-formwrap">
                                            <div class="contact-formfield">
                                                <input type="text" name="name" id="name" placeholder="Name*">
                                            </div>
                                            <div class="contact-formfield">
                                                <input type="text" name="email" id="email" placeholder="Email*">
                                            </div>
                                            <div class="contact-formfield">
                                                <input type="text" name="phone" id="phone" placeholder="Phone*">
                                            </div>
                                            <div class="contact-formfield">
                                                <input type="text" name="company" id="company" placeholder="Company">
                                            </div>
                                            <div class="contact-formfield">
                                                <select name="Budget" id="Budget">
                                                    <option value="0" disabled selected>Budget*</option>
                                                    <option value="1">5,000 - 10,000</option>
                                                    <option value="2">10,000 - 15,000</option>
                                                    <option value="3">15,000 - 20,000</option>
                                                    <option value="4">20,000 - 25,000</option>
                                                    <option value="5">25,000 - Above</option>
                                                </select>
                                            </div>
                                            <div class="contact-formfield">
                                                <input type="text" name="solution" id="solution" placeholder="Solution*">
                                            </div>
                                            <div class="contact-formfield message">
                                                <input type="text" name="message" id="message" placeholder="Message*">
                                            </div>
                                        </div>
                                        <div class="submit-btn">
                                            <button type="submit" class="rr-btn">
                                                <span class="btn-wrap">
                                                  <span class="text-one">Send Message</span>
                                                  <span class="text-two">Send Message</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div id="response-message"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact area end  -->

            </main>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <!--homepage init -->
    <script src="{{ asset('assets/js/pages/homepage.init.js') }}"></script>

    {{ parent() }}

{% endblock %}